/* .card-list {
    padding: 10rem 2rem 4rem 2rem;
    max-width: 45rem;
    margin: 0 auto;
  }
  
  .card-list__item {
    margin: 0 0 4rem;
  } */

form {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 45rem;

  border: 1px solid var(--black);
  padding: 2rem;
  text-align: center;
  position: relative;
}

label {
  margin-top: 1rem;
  font-size: var(--fs-500);
  font-family: var(--ff-primary);
  text-align: start;
  /* line-height: 1.2; */
}

.form_button-submit {
  background: var(--secondary);
  color: var(--white);
  border: none;
  display: block;
  margin: 2rem auto 2rem auto;
  padding: 1rem;
}

.form_button-submit:hover {
  opacity: 0.75;
  cursor: pointer;
}

#tags {
  height: 2rem;
}

textarea {
  height: 6rem;
}
